body{
    font-family: 'JetBrains Mono', monospace;
    background-color: #361252;
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    color: white;
}

ul li a p{
    margin: auto;
    color: white !important;
}

a{
    text-decoration: none;
}

a p
{
    color: white !important;
    text-decoration: none;
    font-size: 2vmin !important;
}



.header{
    background: #061623;
    min-height: 10vmin !important;
}
.footer{
    background: #061623;
}
.header img{
    max-width: 10vmin;
    min-width: 40px;
}

.footer{
    margin-top: 50px;
}

nav{
    padding-top: 0 !important;
}
.navbar {
    z-index: 1000; 
}

.show{
    background-color: #061623;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 0px 0px 20px 20px;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link{
    transition: all 0.4s;
}

.nav-link:hover{
    background-color: #092e4c;
    border-radius: 20px;
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
        border: 2px solid white;
        border-radius: 10px 10px 10px 10px;
    }
}

.main{
    flex-grow: 1;
}



.footerText{
    font-size: 2vmin;
}



@media (max-width: 991.98px) {
    .pictureQuestion {
        display: flex;
        justify-content: center;
    }
}



