<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EmpatiaEdukacja.pl</title>

    <meta name="description" content="Pomoc w zrozumieniu wyrażanych emocji" />
    <meta
      name="keywords"
      content="emocje, radość, złość, smutek, zakłopotanie, strach, zaskoczenie"
    />
    <meta
      name="author"
      content="Kamil Magiera, Bartłomiej Chrzanowski, Mikołaj Susek, Igor Białas"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="shortcut icon" th:href="@{/zdjecia/ikona i logo.png}">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid header">
        
        <a href="login"><img
          th:src="@{/zdjecia/ikona i logo.png}"
          class="img-fluid h-100 rounded float-start"
          alt=""
        />

        </a>
        <a class="me-auto" th:href="login">
          <p class="login my-auto">zaloguj </p>
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link fs-5 mx-3 text-center " href="hello"
                ><p>> Strona główna</p></a
              >
            </li>
            <li class="nav-item ">
              <a class="nav-link fs-5 mx-3 text-center " href="learningMode"
                ><p>> Tryby nauki</p></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5 mx-3 text-center" href="#"><p>> źródła</p></a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5 mx-3 text-center" href="#"><p>>Oglądaj i zapamiętaj</p></a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid main ">
      <div class="row h-100">
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
            <h1>Zaloguj się</h1>
            <form>
                <div class="mb-3 ">
                  <label for="enterEmail1" class="form-label">Adres email</label>
                  <input type="email" class="form-control" id="enterEmail1">
                </div>
                <div class="mb-3">
                  <label for="enterPassword1" class="form-label">Hasło</label>
                  <input type="password" class="form-control" id="enterPassword1">
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Zapamiętaj mnie</label>
                </div>
                <button type="submit" class="btn btn-primary">Zaloguj</button>
            </form>
        
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
          <h1>Zarejestruj się</h1>
            <form>
                <div class="mb-3 ">
                  <label for="enterEmail2" class="form-label w-100">Adres email:</label>
                  <input type="email" class="form-control" id="enterEmail2">
                </div>
                <div class="mb-3">
                  <label for="enterPassword2" class="form-label">Hasło:</label>
                  <input type="password" class="form-control" id="enterPassword2" minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Musi zawierać co najmniej jedną cyfrę, jedną dużą i małą literę oraz co najmniej 8 lub więcej znaków" required>
                </div>
                <div class="mb-3">
                    <label for="enterName" class="form-label">Imie:</label>
                    <input type="text" class="form-control" id="enterName">
                </div>
                <div class="mb-3">
                    <label for="enterSurname" class="form-label">Nazwisko:</label>
                    <input type="text" class="form-control" id="enterSurname">
                </div>
                <div class="mb-3">
                  <label for="age">Rok Urodzenia:</label>
                  <input type="number" class="form-control" id="age" min="1900">
              </div>
                <p>Podaj swoją płeć:</p>
                <div class=" form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="male" value="male"/>
                    <label class="form-check-label" for="male"> Mężczyzna </label>
                </div>
                <div class="form-check-inline">  
                    <input class="form-check-input" type="radio" name="gender" id="female" value="female"/>
                    <label class="form-check-label" for="female"> Kobieta</label>
                </div>
                <br>
                <br>
                <select>
                  <option value="village">Wieś</option>
                  <option value="smallTown">Małe miasto(&lt;20 tys. mieszkańców)</option>
                  <option value="midTown">Średnie miasto(20-100tys. mieszkańców)</option>
                  <option value="bigTown">Duże miasto(>100tys. mieszkańców)</option>
                </select>
                
                <br>
                <br>
                <button type="submit" class="btn btn-primary">Zarejestruj</button>
            </form>
        </div>
      </div>
    </div>
    <div class="container-fluid footer">
        <div class="row h-100 d-flex align-items-end">
          <div class="col text-end">
            <span class="footerText">HackEmotion</span>
          </div>
        </div>
      </div>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    >
  
  </script>

  <script src="../bootstrap-5.0.2-dist/bootstrap.js"></script>
  </body>
</html>